{% extends 'frontend/base.html' %}

{% block content %}
<section class="skills">
    <div class="container">
        <div class="skills__container">
            <h2 class="skills__title">
                Навыки
            </h2>
            <p class="skills__description">Ниже представлены ТОП-10 навыков, необходимых разработчику, разделенные по годам</p>
            {% for data in skills_data %}
            <div class="skills_data" style="display:flex">
                <table class="skills__table">
                    <thead class="table__header">
                        <tr class="table__row">
                            <th class="table__cell special__cell">
                                Год
                            </th>
                            <th class="table__cell">
                                Навыки
                            </th>
                        </tr>
                    </thead>
                    <tbody class="table__body">
                        <tr class="table__row">
                            <th class="table__cell">
                               {{data.year}}
                            </th>
                            <th class="table__cell">
                                <table class="table__table">
                                    <tbody class="table__body">
                                    <tr class="table__row">
                                        <th class="table_cell">
                                            {{data.first_vacancy}}
                                        </th>
                                    </tr>
                                    <tr class="table__row">
                                        <th class="table_cell">
                                            {{data.second_vacancy}}
                                        </th>
                                    </tr>
                                    <tr class="table__row">
                                        <th class="table_cell">
                                            {{data.third_vacancy}}
                                        </th>
                                    </tr>
                                    <tr class="table__row">
                                        <th class="table_cell">
                                            {{data.fourth_vacancy}}
                                        </th>
                                    </tr>
                                    <tr class="table__row">
                                        <th class="table_cell">
                                            {{data.fifth_vacancy}}
                                        </th>
                                    </tr>
                                    <tr class="table__row">
                                        <th class="table_cell">
                                            {{data.sixth_vacancy}}
                                        </th>
                                    </tr>
                                    <tr class="table__row">
                                        <th class="table_cell">
                                            {{data.seventh_vacancy}}
                                        </th>
                                    </tr>
                                    <tr class="table__row">
                                        <th class="table_cell">
                                            {{data.eighth_vacancy}}
                                        </th>
                                    </tr>
                                    <tr class="table__row">
                                        <th class="table_cell">
                                            {{data.ninth_vacancy}}
                                        </th>
                                    </tr>
                                    <tr class="table__row">
                                        <th class="table_cell">
                                            {{data.tenth_vacancy}}
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </th>

                        </tr>
                    </tbody>
                </table>
                <img class="skills_image" src="{{data.photo.url}}" style="object-fit: scale-down" alt="график статических данных">
            </div>
            {% endfor%}
        </div>
    </div>
</section>
{% endblock %}